
body p {
    font-size: 1.3rem;
}

button {
    height: 3rem;

}
img{
    height: 380px;
    width: auto;
}
.btn {
    font-size: large;
    border-radius: 1rem;
}
span {
    font-weight: bold;
}
.btn-light:hover {
    background-color: deepskyblue;
}
.btn-secondary:hover{
    background-color: black;
}
#an{
    display: block;
    display: -webkit-box;
    height: 16px*1.3*3;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px;
}